body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-image: url(http://www.fondosni.com/images/2012-10-13/Fondo%20negro%20con%20estructura%20en%20lineas-746551.jpg);
}

a {
  color: white;
}
