doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    h1 Edgar Rivera
    p Bienvenido a la pagina de Edgar Rivera
    a(href="/")
        div Inicio
    a(href="/pagina2")
        div Mis Proyectos
    a(href="/pagina3")
        div Mis Ideas
    a(href="/pagina4")
        div Contacto

